/*------------------------------------------------------------------
Project:        Restaurant Finder
Author:         Crenoveative
URL:            http://crenoveative.com/
Created:        24/10/2016
-------------------------------------------------------------------*/
/**
 * Add your style in this file
*/


.activeSelect{
	border-bottom: 2px solid #DB3944;
}

